<!--
  Generated template for the CitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>cities in {{ country.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="cities" >
    <button ion-item *ngFor="let city of cities | async" (click)="citySelected(city)">
      <ion-avatar item-start>
        <img src="{{ city.flag }}">
      </ion-avatar>
      <h2>
        {{ city.name }}
      </h2>
      <p>{{ city.subregion }}</p>
      <ion-note item-end>{{ city.alpha3Code }}</ion-note>
    </button>
  </ion-list>
</ion-content>

