<ion-header>
    <ion-toolbar>
      <ion-title>
        Country Info
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ country.flag }}">
        </ion-avatar>
        <h2>{{ country.name }}</h2>
        <p>{{ country.Brussels }}</p>
      </ion-item>
    </ion-list> -->

    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="{{ country.flag }}">
        </ion-thumbnail>
        <h2>{{ country.name }}</h2>
        <h3>Region {{ country.region }}</h3>
        <p><b>Population</b> {{ country.population }}</p>
        <ion-note item-end>{{ country.timezones[0] }}</ion-note>
      </ion-item>
      <button ion-item *ngFor="let border of country.borders">
        {{ border }}
      </button> 
      <!-- <ion-item *ngFor="let item of character['items']">
        {{item.title}}
        <ion-note item-end>
          {{item.note}}
        </ion-note>
      </ion-item> -->
    </ion-list>
</ion-content>